.mainDiv {
  display: flex;
  flex-direction: row;
  height: 30vmax;
  width: 100vmax;
  justify-content: space-around;
  align-items: center;
}
.mainDiv > div:nth-child(2){
  width: 10vmax;
  height: 25vmax;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.mainDiv > div:nth-child(2) >svg{
  font-size: 1.5vmax;
}
.verticalBar{
  height: 25%;
  width: 3%;
  background-color: #d2d2d2;
  z-index: -1;
}

.redBar{
  background-color: crimson;
}
.unfoldIcon{
  height: 2.5vmax;
  width: 2.5vmax;
  border-radius: 100%;
  background-color: crimson;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  user-select: none;
  cursor: grab;
}
.tags{
  position: absolute;
  left: -140%;
  background-color: #d2d2d2;
  padding: 0.5vmax;
  clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0 100%, 0 0);
}
.unfoldIcon:active {
  cursor: grabbing;
  background-color: rgb(138, 13, 38);
}
.unfoldIcon > svg {
  font-size: 1.4vmax;
  color: white;
  z-index: 1;
}
.circle {
  color: grey;
  background-color: white;
}
.tick{
  color: crimson;
  background-color: white;
}
.cornerContent{
  font-size: 100px;
}